.price-col{
    box-shadow: 2px 3px gray;
    border-radius: 15px;
   transition: transform .4s;
}
.price-col:hover{
    transform: scale(1.1);
}
.price-card h4{
    color: white;
}
.price-card h6{
    color: whitesmoke;
}
.price-card{
background-color: rgb(74, 204, 255);
}
.price-card img{
    background: transparent;
}